@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #014234;
    align-items: center;
}
nav .logo img{
    width:120px;
    padding:10px 15px;
    margin-top: 5px;
}
nav .logo{
    width:100%;
    margin:auto;
}
nav .location{
    width:100%;
    display: flex;
    align-items: center;
}
nav .location img{
    width:20px;
    height: 20px;
}
nav .location div{
    color: #fff;
}
nav .location div p{
    font-size: 13px;
    color:#bab7b7;
}

nav .search-box{
    display: flex;
    width:100%;
    align-items: center;
    margin:auto 10px;
}
nav .search-box .selection select{
    width: 70px;
    padding:7px 8px;
    display: inline-block;
    font-size: 16px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #e6e6e6;
    border:1px solid #e6e6e6;
    align-items: center;
}

nav .search-box .search-input{
    width: 600px;
    padding:6px 8px;
    background-color: #fff;
    border:1px solid #e6e6e6;
}
.search-input input[type='text']{
    width:450px;
    border:none;
    outline: none;
    font-size: 18px;
    padding-bottom:1px;
    
}
.search-box .search-icon{
    background-color: #a9176f;
    padding: 2px 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.search-icon img{
    width:30px;
    color:#fff;
    display: inline-block;
    align-items: center;
}
nav .language{
    width:100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.language img{
    width:30px;
    margin-right:2px;
}
.language div select{
    background: transparent;
    border:none;
    outline:none;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
}
.signup{
    width:100%;
    display: block;
    align-items: center;
    margin:auto;
}
.signup p{
    color: #fff;
    font-size:13px;
    padding-left: 2px;
}
.signup select{
    background:transparent;
    border:none;
    outline:none;
    font-size: 18px;
    color:#fff;
    font-weight: 600;
}
.returnOrder{
    width:100%;
    display: block;
    text-align: center;
    margin:auto;
}

.returnOrder p{
    color:#fff;
    font-size: 13px;
}
.returnOrder h4{
    color:#fff;

}

.cart{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}
.cart img{
    width:35px;
    padding-right: 5px;
}
.cart h4{
    color:#fff;
    font-size: 18px;
}
nav.navbar2{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #085749;
    padding:10px;
}

.navbar2 .menu{
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}
.navbar2 .menu img{
    width:25px;
    margin-left:10px;
    margin-right: 5px;
}
.navbar2 .menu p{
    font-size:16px;
    color:#fff;
    font-weight: bold;
}

.navbar2 div a{
    text-decoration:none;
    color:#fff;
    margin-left: 20px;
    padding: 0 10px;
}
