@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Outfit:wght@100..900&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #014234;
    align-items: center;
}
nav .logo img{
    width:120px;
    padding:10px 15px;
    margin-top: 5px;
}
nav .logo{
    width:100%;
    margin:auto;
}
nav .location{
    width:100%;
    display: flex;
    align-items: center;
}
nav .location img{
    width:20px;
    height: 20px;
}
nav .location div{
    color: #fff;
}
nav .location div p{
    font-size: 13px;
    color:#bab7b7;
}

nav .search-box{
    display: flex;
    width:100%;
    align-items: center;
    margin:auto 10px;
}
nav .search-box .selection select{
    width: 70px;
    padding:7px 8px;
    display: inline-block;
    font-size: 16px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #e6e6e6;
    border:1px solid #e6e6e6;
    align-items: center;
}

nav .search-box .search-input{
    width: 600px;
    padding:6px 8px;
    background-color: #fff;
    border:1px solid #e6e6e6;
}
.search-input input[type='text']{
    width:450px;
    border:none;
    outline: none;
    font-size: 18px;
    padding-bottom:1px;
    
}
.search-box .search-icon{
    background-color: #a9176f;
    padding: 2px 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.search-icon img{
    width:30px;
    color:#fff;
    display: inline-block;
    align-items: center;
}
nav .language{
    width:100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.language img{
    width:30px;
    margin-right:2px;
}
.language div select{
    background: transparent;
    border:none;
    outline:none;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
}
.signup{
    width:100%;
    display: block;
    align-items: center;
    margin:auto;
}
.signup p{
    color: #fff;
    font-size:13px;
    padding-left: 2px;
}
.signup select{
    background:transparent;
    border:none;
    outline:none;
    font-size: 18px;
    color:#fff;
    font-weight: 600;
}
.returnOrder{
    width:100%;
    display: block;
    text-align: center;
    margin:auto;
}

.returnOrder p{
    color:#fff;
    font-size: 13px;
}
.returnOrder h4{
    color:#fff;

}

.cart{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}
.cart img{
    width:35px;
    padding-right: 5px;
}
.cart h4{
    color:#fff;
    font-size: 18px;
}
nav.navbar2{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #085749;
    padding:10px;
}

.navbar2 .menu{
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    
}
.navbar2 .menu img{
    width:25px;
    margin-left:10px;
    margin-right: 5px;
}
.navbar2 .menu p{
    font-size:16px;
    color:#fff;
    font-weight: bold;
}

.navbar2 div a{
    text-decoration:none;
    color:#fff;
    margin-left: 20px;
    padding: 0 10px;
}

#sidebar{
    width:25%;
    display: block;
    align-items: center;
    background: #f5f0f0;
    display: none;
    transition: 0.5s;
}
#sidebar .user-container{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background:#232f3e;
    justify-content: space-between;
}
#sidebar .user-container a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#sidebar .user-container a img{
    width:35px;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
}
#sidebar .user-container a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
}
.user-container div img{
   width:30px;
   border: 1px solid #fff;
   padding: 3px;
   border-radius: 5px;
   background: #f5f0f0;
   cursor:pointer;
}

ul li{
    list-style: none;
}
#sidebar .digital-content{
    padding-top: 15px;
   
}
#sidebar .digital-content h4{
   font-size: 20px;
   padding-bottom: 10px;
   font-weight: 700;
    padding-left: 20px;
    color: #232f3e;
}
ul li{
    padding:10px 0;
    font-size: 16px;
    padding-left: 20px;
}
ul li:hover{
    background: #bab7b7;
}
hr{
    outline: 0;
    margin: 10px 0;
    color: #c5c1c1;
}
#sidebar .shop h4{
   padding: 10px 20px;
   font-size: 20px;
   color: #232f3e;
}

#sidebar .programs h4{
   padding: 10px 20px;
   font-size: 20px;
   color: #232f3e;
}
#sidebar .settings h4{
   padding: 10px 20px;
   font-size: 20px;
   color: #232f3e;
}
#sidebar .settings .lang{
    display: flex;
    align-items: center;
}
#sidebar .settings .lang img{
    padding-right: 10px;
}
#sidebar .settings .lang img.flag{
    width: 30px;
}


.container{
    width: 100%;
    height: 100%;
    position:relative;
    background: #e3e6e6;
}
.container .header img{
    width:100%;
    height: 90%;
}
.boxs{
    width:100%;
    display: flex;
    margin: auto;
}
.boxs .box1{
    width:22%;
    margin:10px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: 250px;
    left:5px;
}

.boxs .box2{
    width:22%;
    margin:10px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: 250px;
    left: 350px;
}

.boxs .box3{
    width:22%;
    margin:10px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: 250px;
    left: 690px;
}

.boxs .box4{
    width:22%;
    margin:10px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: 250px;
    left: 1030px;
}

.box1 a, .box2 a, .box3 a, .box4 a{
    text-decoration: none;
    cursor: pointer;
    
}
.box1 a p, .box2 a p, .box3 a p, .box4 a p{
    padding: 10px 0;
    font-size: 18px;
}

.box1 h4{
    font-size: 20px;
    font-weight: bold;
    padding-top:5px;
}
.cards{
    display: flex;
    justify-content: space-between;
    
}
.cards .card1 img{
    padding: 10px;
    width:140px;
}


.secBoxs{
    width:100%;
    margin-top:100px;
    display: flex;
    justify-content: space-around;
}

.secbox1{
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.secbox1 h4{
    font-size: 20px;
    font-weight: bold;
}
.secbox1 a{
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
.secbox1 a p{
    padding: 10px 0;
}


.product{
    width: 100%;
    margin: 20px auto ;
    background: #ffffffd6;
}
.product h3{
    padding: 10px 20px;
    font-size: 20px;
}
.product .pro{
    display: flex;
    justify-content: flex-start;
    margin: auto;
}
.product .pro div{
    padding:10px;
    width: 100%;
}
.product .pro div img{
    width:150px;
    padding-left:20px;
    height: 150px;
}